#canvas{-webkit-user-select:none;user-select:none;border:thin solid #000}span.counter{font-family:monospace}.modal-box{z-index:1;visibility:visible;opacity:1;background-color:#0006;width:100%;height:100%;transition:visibility .5s linear,opacity .5s linear;display:block;position:fixed;top:0;left:0;overflow:auto}.modal-box.hidden{visibility:hidden;opacity:0;overflow:hidden}.modal-content{background-color:#fefefe;border:1px solid #888;width:max-content;margin:15% auto;padding:20px}
/*# sourceMappingURL=index.6d1e7426.css.map */
